 body{
    background-color: #bdcddc;
    text-align: center;
     font-family: "Andale Mono";
}
href{
    margin-bottom: 30px;
}
 .table{
     width:50%;
     position:relative;
     margin: auto;
     text-align: center;
 }
#friend{
    width:300px;
    height: 200px;
    background-image:url(img/index5.jpeg);
    font-size:50px;
    color: rgb(255, 255, 255);
    margin: 50px;
}
 #organization{
     width:300px;
     height: 200px;
     background-image:url(img/index2.jpg);
     font-size:50px;
     color: rgb(255, 255, 255);
     margin: 50px;
 }
 #partner{
     width:300px;
     height: 200px;
     background-image:url(img/index6.webp);
     font-size:50px;
     color: rgb(255, 255, 255);
     margin: 50px;
 }
 #school{
     width:300px;
     height: 200px;
     background-image:url(img/index3.jpg);
     font-size:50px;
     color: rgb(255, 255, 255);
     margin: 50px;
 }
 #body{
     width:300px;
     height: 200px;
     background-image:url(img/index4.jpeg);
     font-size:50px;
     color: rgb(0, 0, 0);
     margin: 50px;
 }
 #family{
     width:300px;
     height: 200px;
     background-image:url(img/index1.jpg);
     font-size:50px;
     color: rgb(255, 255, 255);
     margin: 50px;
 }